@font-face {
	font-family: "Proxima Nova Bold";
	src: url("./fonts/Proxima Nova Bold.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Bold It";
	src: url("./fonts/Proxima Nova Bold It.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Light";
	src: url("../fonts/Proxima Nova Light.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Light It";
	src: url("../fonts/Proxima Nova Light It.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Reg";
	src: url("../fonts/Proxima Nova Reg.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Reg It";
	src: url("../fonts/Proxima Nova Reg It.ttf");
	font-weight: normal;
	font-style: normal;
}
