/* Full width columns for mobile view */
*[class*="col-"] {
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0 12%;
    margin: 5% 0;
}

.row {
  width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Grid layout for desktop view */

@media screen and (min-width: 600px) {
    *[class*="col-"] {
      padding: 0 2%;
      margin: 0;
    }

    *[class*="col-"]:first-child {
      padding-left: 4%;
    }

    *[class*="col-"]:last-child {
      padding-right: 4%;
    }

    .row {
      margin-bottom: 5%;
    }

    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-6 {width: 50%;}
    .col-12 {width: 100%;}
}
