@import url("normalize.css");
@import url("fonts.css");
@import url("grid.css");
@import url("base.css");

/* Window loading icon until the page has fully loaded*/
#window-loading-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
}

.fa-spinner {
  position:relative;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  color: #ff4422;
}

/*Navigation menu*/
.banner {
  background-color: #fff;
  width: 100%;
  height: 95px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-container {
  width:100%;
  padding: 0.67em 0 0 0;
}

.logo__my-name {
  display: inline-block;
  font-weight: 400;
  vertical-align: top;
}

.logo__svg {
  pointer-events: none;
}

.logo__link {
  display: inline-block;
}

.logo__link:hover, .logo__link:active, .logo__link:focus:active {
  cursor: pointer;
}

.navigation {
  display: block;
  width: 100%;
  position: relative;
  top: -1.35em;
}

.navigation__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navigation__list__item {
  display: inline;
}

.navigation__list__item:not(:last-child) {
  border-right: 2px solid #ff4422;
}

.navigation__list__item a {
  font-family: 'Arvo', Trebuchet, serif;
  padding: 0 0.5rem 0.5rem;
  font-weight: 700;
}

/* Add offset to all navigation link targets to make them visible below the header*/
.target-offset::before {
  content:"";
  display: block;
  height: 95px; /* fixed header height*/
  margin: -95px 0 0; /* negative fixed header height */
}

/*control elements styling on window scrolling*/
body.scrolled .banner {
  background-color: rgba(255,255,255, 0.9);
}

/*Main content*/
.container {
  width: 100%;
}

.container--background-dark {
  background-color: #222;
  color: #fff;
}

.main-container {
  margin: 95px auto 0;

}

/*About section*/

.about-container {
  margin: 0 auto;
  padding: 0 10% 2em;
  min-height: 100vh;
  background: url("../images/about/keyboard-background-portrait.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture {
  display: block;
  width: 60px;
  border-radius: 100%;
  margin: 5px auto;
}

.about-container__heading {
  margin: 0;
  padding-top: 1em;
  z-index: 0;
  text-align: center;
  text-shadow: 0 0.5px 0 #111;
}

.about-container__links {
  text-align: center;
}

.about-container__link-button {
  display: inline-block;
  background-color: #ff4422;
  color: #fff;
  width: 110px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

.about-container__link-button:hover, .about-container__link-button:active, .about-container__link-button:focus:hover {
  font-family: "Proxima Nova Bold", sans-serif, Helvetica;
  text-decoration: none;
  box-shadow: 1px 2px 1px #333;
}

.about-container__link-button:active {
  position: relative;
  top: 1px;
  left: 0.5px;
}

.cv-link {
  margin-right: 1em;
}

.profile-title a:hover, .profile-title a:active, .profile-title a:focus:hover {
  text-decoration: none;
}

/*Project content*/
.project-container__heading {
  color: #ff4422;
  padding-left: 10%;
  text-shadow: 0px 0.5px 0px #aaa;
  margin: 2em 0;
}

.project-container__figure {
  position: relative;
}

.project-container__figure-description {
  height: 90%;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  font-size: 1.1em;
  line-height: 1.5em;
}

.project-container__figure-cover {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.project-container__figure-cover {
    background-color: rgba(255,255,255,0.8);
    visibility: hidden;
}

.project-container__figure:hover .project-container__figure-cover, .project-container__figure:active .project-container__figure-cover  {
  visibility: visible;
}

.project-container__figure > img {
  width: 100%;
  z-index: 1;
}

.project-container__caption {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  min-height: 40px;
}

.project-container__tech-icon {
  width: 40px;
  height: auto;
}

/* Clearfix */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix {
  display: inline-block;
  clear:both;
}

/*Contact section*/
.contact-container {
  text-align: left;
  padding: 5% 10%;
  margin-top: 2em;
}

.contact-container__heading {
  color: #ff4422;
}

.contact__icons-list {
  list-style: none;
  padding-left: 0;
}

.contact__icons-list__item {
  display: inline;
  margin-right: 0.5em;
}

.contact__icons-list__item a {
  color: #fff;
  font-size: 1.8em;
}

.contact__icons-list__item a:hover, .contact__icons-list__item a:active, .contact__icons-list__item a:focus:hover {
  color: #ff4422;
}

/*Footer*/
.footer {
  height: 30px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #fd8a58;
  font-size: 0.75em;
  margin: auto auto;
}

.footer__copyright {
  margin: 0;
  line-height: 30px;
}

/*Adjust about section for large smartphones and small tablets*/
@media screen and (min-width: 360px) and (orientation: portrait) {
  .profile-picture {
    width: 120px;
    margin: 3% auto;
  }
}

/*Realign elements in the banner for large smartphones*/
@media screen and (min-width: 400px) {
  .banner {
    text-align: left;
    padding: 0 2rem;
  }
  .navigation__list {
    text-align: right;
  }
}

/*Media queries to scale up to wider screens*/
@media screen and (min-width: 640px) {
  /*Based on Robert's Bringhurst norms for phones and small tablets*/

  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25em;
  }

  .about-container {
    background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("../images/about/keyboard-background-landscape.jpg");
    background-size: cover;
    background-repeat:no-repeat;
  }

  .about-container__heading {
    font-size: 2.5rem;
    text-align: center;
  }

  .profile-details {
    max-width: 660px;
    font-size: 1.25em;
    margin: 1.5% auto;
    text-align: justify;
    text-shadow: 0 1px 0 #333;
  }

  .profile-picture {
    width: 140px;
    margin: 1% auto;
  }

  .project-container__figure-description {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .project-container__tech-icon {
    width: 20px;
  }

  .project-container__caption {
    font-size: 1rem;
  }
}

@media screen and (min-width: 950px) {
  .project-container__figure-description {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .project-container__tech-icon {
    width: 40px;
  }

  .project-container__caption {
    font-size: 1.25em;
  }
}
