@import url("normalize.css");
@import url("fonts.css");

/*Set up base rules*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Reg", Helvetica, sans-serif;
  font-size: 14px;
  line-height: calc(1.5 * 16px);
  color: #3A3E56;
}

/*Classes for different font styles*/
.bold {
  font-family: "Proxima Nova Bold", Helvetica, sans-serif;
}

.light {
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
}

.italic {
  font-family: "Proxima Nova Reg It", Helvetica, sans-serif;
}

.bold-italic {
  font-family: "Proxima Nova Bold It", Helvetica, sans-serif;
}

.light-italic {
  font-family: "Proxima Nova Light It", Helvetica, sans-serif;
}

/*Navigation menu*/

/*Main content*/

/*About section*/

/*Contact section*/

/*Media queries to scale up to wider screens*/

@media all and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
