@import url("normalize.css");
@import url("fonts.css");
@import url("grid.css");

/*Set up base rules*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Proxima Nova Reg", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  color: #222;
}

body {
  width: 99.9%;
  /*max-width: 1200px;*/
}

a {
text-decoration: none;
color: #ff4422;
}

a:focus {
  border: 0.5px solid #fd8a58;
}

a:hover, a:active, a:focus:hover {
text-decoration: underline;
text-shadow: 0px 1px 0.5px #fd8a58;
}

/*Based on Robert's Bringhurst norms*/

h1 {
  font-family: 'Arvo', Trebuchet, serif;
  font-size: 2.0em;
}

h2 {
  font-family: 'Arvo', Trebuchet, serif;
  font-size: 1.625em;
  line-height: 1.15384615em
}

h3 {
  font-family: 'Arvo', Trebuchet, serif;
  font-size: 1.375em;
  line-height: 1.13636364em;
}

/*Classes for different font styles*/
.bold {
  font-family: "Proxima Nova Bold", Helvetica, sans-serif;
}

.light {
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
}

.italic {
  font-family: "Proxima Nova Reg It", Helvetica, sans-serif;
}

.bold-italic {
  font-family: "Proxima Nova Bold It", Helvetica, sans-serif;
}

.light-italic {
  font-family: "Proxima Nova Light It", Helvetica, sans-serif;
}

/*Navigation menu*/
.banner {
  background-color: #fff;
  width: 100%;
  height: 95px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-container {
  width:100%;
  padding: 0.67em 0 0 0;
}

.logo__my-name {
  display: inline-block;
  font-weight: 400;
  vertical-align: top;
}

.logo__svg {
  pointer-events: none;
}

.logo__link {
  display: inline-block;
}

.logo__link:hover, .logo__link:active, .logo__link:focus:active {
  cursor: pointer;
}

.navigation {
  display: block;
  width: 100%;
  position: relative;
  top: -1.35em;
}

.navigation__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navigation__list__item {
  display: inline;
}

.navigation__list__item:not(:last-child) {
  border-right: 2px solid #ff4422;
}

.navigation__list__item a {
  font-family: 'Arvo', Trebuchet, serif;
  padding: 0 0.5rem 0.5rem;
  font-weight: 700;
}

/* Add offset to all navigation link targets to make them visible below the header*/
.target-offset::before {
  content:"";
  display: block;
  height: 95px; /* fixed header height*/
  margin: -95px 0 0; /* negative fixed header height */
}

/*control elements styling on window scrolling*/
body.scrolled .banner {
  background-color: rgba(255,255,255, 0.9);
}

/*Main content*/

.container {
  width: 100%;
}

.container--background-dark {
  background-color: #222;
  color: #fff;
}

.main-container {
  margin: 95px auto 0;
  padding-top: 2em;
}

/*About section*/

.about-container {
  margin: 0 auto;
  padding: 0 10%;
  height: 100vh;
  background: url("../images/about/keyboard-background-portrait.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture {
  display: block;
  width: 60px;
  border-radius: 100%;
  margin: 5px auto;
}

.about-container__heading {
  margin: 0;
  z-index: 0;
  text-align: center;
  text-shadow: 0 1px 0 #111;
}

.profile-details:first-child {
  margin-top: 0;
}

.about-container__contact-link {
  font-size: 1rem;
  display: block;
  background-color: #ff4422;
  color: #fff;
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  margin: 0 auto;
}

.profile-title a:hover, a:active, a:focus:hover {
  background-color: #fd8a58;
  text-decoration: none;
}

/*Project content*/

.project-container__heading {
  color: #ff4422;
  padding-left: 10%;
  text-shadow: 0px 0.5px 0px #aaa;
}

.project-container__figure {
  margin: 2% 0;
}

.project-container__figure img {
  width: 100%;
}

.project-container__figure figcaption {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.project-container__link {
  text-decoration: underline;
}

/* Clearfix */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix {
  display: inline-block;
  clear:both;
}

/*Contact section*/
.contact-container {
  text-align: left;
  padding: 5% 10%;
}

.contact-container__heading {
  color: #ff4422;
}

.contact__icons-list {
  list-style: none;
  padding-left: 0;
}

.contact__icons-list__item {
  display: inline;
}

.contact__icons-list__item a {
  color: #fff;
  font-size: 1.8em;
}

.contact__icons-list__item a:hover, a:active, a:focus:hover {
  color: #ff4422;
}

/*Footer*/
.footer {
  height: 30px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #fd8a58;
  font-size: 0.75em;
  margin: auto auto;
}

.footer__copyright {
  margin: 0;
  line-height: 30px;
}

/*Adjust about section for large smartphones and small tablets*/
@media screen and (min-width: 360px) and (orientation: portrait) {
  .profile-picture {
    width: 120px;
    margin: 5% auto;
  }
}

/*Realign elements in the banner for large smartphones*/
@media screen and (min-width: 400px) {
  .banner {
    text-align: left;
    padding: 0 2rem;
  }
  .navigation__list {
    text-align: right;
  }
  .profile-picture {
    margin: 10% auto;
  }
}

/*Media queries to scale up to wider screens*/
@media screen and (min-width: 600px) {
  .about-container {
    background-image: url("../images/about/keyboard-background-landscape.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    text-shadow: 0 1px 0 #111;
    position: relative;
  }

  .about-container__text {
    clear: both;
  }

  .about-container__heading {
    font-size: 2.5rem;
    text-align: left;
  }

  .profile-picture {
    width: 120px;
    float: right;
    display: inline-block;
    margin: 0;
  }
}

@media screen and (min-width: 1400px) {
  html { font-size: 1.25em; }
}
